.header-logo {
	width:6.5em;
	height:6.5em;
	margin-bottom:.5em;
	border:.15em solid rgb(255, 153, 0);
	border-radius:50%;
	box-shadow:0 10px 30px #000;
	background: #fff;
	transition: background .25s ease-in-out;
	   -moz-transition: background .25s ease-in-out;
	   -webkit-transition: background .25s ease-in-out;
}

.header-logo:hover {
	background: rgb(255, 153, 0);
	border:.15em solid rgb(255, 255, 255);
}

@media min-width 960px{
	body {
		font-size:1.1em;
	}

	.header-avatar {
		width:4.8em;
		height:4.8em;
	}
}

